# Ignorar archivos auxiliares de Latex

curso.*
!curso.tex

Ejemplos/ecuaciones.*
!Ejemplos/ecuaciones.tex

Ejemplos/codigo.*
!Ejemplos/codigo.tex

# Ignorar archivos de Emacs

*\~

# Ignorar build de Jekyll

docs/_site/
